{% extends "users/../base_manager.html" %}

{% block content %}
    <h1>Дашборд менеджера</h1>

    <div class="module">
        <h2>Информация о пользователе</h2>
        <div class="module-content">
            <table>
                <tr>
                    <th>Поле</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td>Пользователь</td>
                    <td>{{ request.user.username }}</td>
                </tr>
                <tr>
                    <td>Роль</td>
                    <td>{{ request.user.role }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="module">
        <h2>Доступные действия</h2>
        <div class="module-content">
            <table>
                <tr>
                    <th>Раздел</th>
                    <th>Доступ</th>
                </tr>
                <tr>
                    <td>Просмотр товаров</td>
                    <td>Разрешено</td>
                </tr>
                <tr>
                    <td><a href="{% url 'add_product' %}" class="action-link">Добавить товар</a></td>
                    <td>Разрешено</td>
                </tr>
                <tr>
                    <td>Управление пользователями</td>
                    <td>Запрещено</td>
                </tr>
                <tr>
                    <td>Админка Django</td>
                    <td>Запрещено</td>
                </tr>
            </table>

            <p class="note">
                Менеджер может работать только с товарами.
            </p>
        </div>
    </div>
{% endblock %}
