{% extends "users/../../../users/templates/base_manager.html" %}

{% block content %}
<h1>Товары</h1>

{% if request.user.role == "manager" or request.user.role == "admin" %}
    <a href="{% url 'product_create' %}">Создать товар</a>
{% endif %}

<table border="1" cellpadding="10" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>
            <a href="{% url 'product_detail' product.id %}">
                {{ product.name }}
            </a>
        </td>
        <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}